$main-red-color: #a62120;
$dark-red: #66000b;
$slider-card-bg: #2c2c2c;
$secondary-black-color: #252525;
$white: #fff;
$default-button-border: #ff0000;
$main-black-color: #000000;
$main-gray: #535353;
